<<<<<<< HEAD
﻿@media (min-width: 992px){
#adminMenu {
  background-color: white;
  height: 100vh;
=======
﻿@admin-active-link-color: black;
@admin-menu-bgcolor: white;
@admin-nav-bgcolor: #5574e0;

#adminMenu {
  background-color: @admin-menu-bgcolor;
  height: 100%;
  position: fixed;
>>>>>>> 3c312b4f4dd23b1412d4c40f0497e06dc6db5051
}

#adminMenu ul {
  list-style: none;
  padding-left: 0;
<<<<<<< HEAD
  padding-top: 20%;

}
=======
  padding-top: 100px;
>>>>>>> 3c312b4f4dd23b1412d4c40f0497e06dc6db5051

  li {
    a:hover {
      color: @admin-active-link-color;
      text-decoration: none;
    }

<<<<<<< HEAD
#adminMenu ul li a:focus {
  border-left-color: rgb(85,116,224);
  text-decoration: none;
  padding-left: 22%;
  color: black;
}

#adminMenu ul li a {
  display: block;
  width: 100%;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: rgb(102,102,102);
  border-left: 4px solid white;
  padding: 5px 5px 5px 22%;
}
}
=======
    a:focus {
      border-left-color: @admin-nav-bgcolor;
      text-decoration: none;
      color: @admin-active-link-color;
    }

    a {
      display: block;
      width: 100%;
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
      color: rgb(102,102,102);
      border-left: 4px solid white;
      padding: 5px 5px 5px 40px;
    }
  }
}

.admin-nav {
  background-color: @admin-nav-bgcolor;
}

.logout {
  margin: 5px;
}
>>>>>>> 3c312b4f4dd23b1412d4c40f0497e06dc6db5051
