@media (min-width: 992px){
#adminMenu {
  background-color: white;
  height: 100vh;
}

#adminMenu ul {
  list-style: none;
  padding-left: 0;
  padding-top: 20%;

}

#adminMenu ul li a:hover {
  color: black;
  text-decoration: none;
}

#adminMenu ul li a:focus {
  border-left-color: rgb(85,116,224);
  text-decoration: none;
  padding-left: 22%;
  color: black;
}

#adminMenu ul li a {
  display: block;
  width: 100%;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: rgb(102,102,102);
  border-left: 4px solid white;
  padding: 5px 5px 5px 22%;
}
}
