<div class="container-fluid">
  <div class="row welcome-container">
    <div id="menu" class="navbar">
      <div class="navbar-header">
        <button class="btn navbar-toggle collapsed vilab-toggle-button"
                data-toggle="collapse"
                data-target=".navbar-collapse"
                aria-expanded="false"
                aria-controls="navbar">
          <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <div id="logo">
          <a href="#">
            <img src="resources/logo.png" />
          </a>
        </div>
      </div>
      <div class="navbar-collapse collapse" id="vilabmenu">
        <ul id="headerMenu" class="navbar-right">
          <li>
            <a href="#">UA</a>
          </li>
          <li>
            <span></span>
          </li>
          <li>
            <button class="btn vilab-toggle-button" (click)="openNav()">
              <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
          </li>
        </ul>
      </div>

    </div>
    <div id="mySidenav" class="sidenav" [ngStyle]="{'width':sideMenuWidth}">
      <div class="navbar-collapse collapse">
        <ul class="navbar-right" id="sideMenuHeader">
          <li> <a href="#">UA</a></li>
          <li> <span></span>    </li>
          <li>
            <button class="btn vilab-toggle-button" (click)="closeNav()">
              <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
          </li>
        </ul>
      </div>
      <ul id="sideMenuItems">
        <li><a href="#">КОНТАКТИ</a></li>
        <li><a href="#">ПРО НАС</a></li>
        <li><a href="#">НОВИНИ</a></li>
        <li><a href="#">ГАЛЕРЕЯ</a></li>
      </ul>
    </div>

    <div class="welcome-caption-container">
      <div class="welcome-caption1">РЕСТАВРУЄМО</div>
      <div class="welcome-caption2">ПОСМІШКУ</div>
      <a href="#" class="btn our-service-link">НАШІ ПОСЛУГИ</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 tooth-container">
      <div class="tooth-wrapper">
        <img class="img-responsive" src="resources/1.png" />
      </div>
    </div>
    <div class="col-md-4 tooth-container">
      <div class="tooth-wrapper">
        <img class="img-responsive" src="resources/2.png" />
      </div>
    </div>
    <div class="col-md-4 tooth-container">
      <div class="tooth-wrapper">
        <img class="img-responsive" src="resources/3.png" />
      </div>
    </div>
  </div>
</div>
