@{
    ViewBag.Title = "Home Page from ViewBag";
}

<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <div id="header">

    </div>
    <div id="mainContent">
        This is main content text
    </div>
    <div id="footer">

    </div>
</body>
</html>
