<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <div class="case-container">
          <label>Категорії послуг</label>
          <a href="javascript:void(0)" (click)="isCaseEditMode = true"><i class="glyphicon glyphicon-plus-sign add-button"></i></a>
        </div>
      </div>
    </div>
    <div class="row" id="editCaseForm" *ngIf="!isCaseEditMode">
      <div class="col-md-12">
        <div id="editCaseContainer" class="edit-case-container">
          <div class="row">
            <div class="col-md-12">
              <label class="container-header">Додати роботу</label>
            </div>
          </div>
          <div class="row">
            <form name="createEditCaseForm">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="caseName">Головний заголовок</label>
                      <input type="text" class="form-control" id="caseName" name="caseName" placeholder="заголовок" [(ngModel)]="caseModel.Name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="categoryDropDown">Категорія</label>
                      <select class="form-control" id="categoryDropDown" name="categoryDropDown" [(ngModel)]="caseModel.CategoryId" (change)="onCategoryChanged(caseModel.CategoryId)">
                        <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="caseSubName">Підзаголовок</label>
                      <input type="text" class="form-control" id="caseSubName" name="caseSubName" placeholder="підзаголовк" [(ngModel)]="caseModel.Subname">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="categoryDropDown">Підкатегорія</label>
                      <select class="form-control" id="categoryDropDown" name="categoryDropDown" [(ngModel)]="caseModel.SubcategoryId">
                        <option *ngFor="let subcategory of subcategories" [ngValue]="subcategory.id">{{subcategory.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="caseDescription">Опис</label>
                      <textarea  class="form-control no-resize" id="caseDescription" rows="5" name="caseDescription" placeholder="опис" [(ngModel)]="caseModel.Description"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="container-header">Фото до</label>
                  </div>
                  <div class="col-md-6">
                    <label class="container-header">Фото після</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <image-upload (onFileUploadFinish)="imageUploaded($event,'before')" [max]="1"></image-upload>
                  </div>
                  <div class="col-md-6">
                    <image-upload (onFileUploadFinish)="imageUploaded($event,'after')" [max]="1"></image-upload>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="row submit-section">
            <div class="col-md-3">
              <button class="btn btn-primary btn-block" (click)="createCase()">Зберегти</button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default btn-block" (click)="isCaseEditMode = false">Скасувати</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row case-item"></div>
  </div>
</div>