<div class="row">
  <div class="col-md-7" id="categories">
    <div class="row">
      <div class="col-md-12">
        <div class="category-container">
          <label>Категорії послуг</label>
          <a href="javascript:void(0)" (click)="isCategoryEditMode = true"><i class="glyphicon glyphicon-plus-sign add-button"></i></a>
        </div>
      </div>
    </div>
    <div class="row" id="addCategoryForm"  *ngIf="isCategoryEditMode">
      <div class="col-md-12">
        <div class="editCategoryContainer">
          <div class="row">
            <div class="col-md-12">
              <label class="category-container-header">Додати категорію</label>
            </div>
          </div>
          <div class="row">
            <form name="createEditCategoryForm">
              <div class="col-md-5">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="categoryName">Назва категорії</label>
                      <input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="категорія" [(ngModel)]="categoryModel.name">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="categoryDescription">Опис</label>
                      <input type="text" class="form-control" id="categoryDescription" name="categoryDescription" placeholder="опис" [(ngModel)]="categoryModel.description">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12">
                    <label>Зображення</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <image-upload (onFileUploadFinish)="imageUploaded($event)" [max]="1"></image-upload>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="row submit-section">
            <div class="col-md-3">
              <button class="btn btn-primary btn-block" (click)="createCategoty()">Зберегти</button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default btn-block" (click)="isCategoryEditMode = false">Скасувати</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngFor="let category of categories">
      <div class="col-md-12">
        <div class="category-container">
          <div class="row">
            <div class="col-md-10">
              <label>{{category.name}}</label>
            </div>
            <div class="col-md-2">
              <a href="javascript:void(0)" class="pull-right delete-button" (click)="deleteCategory(category.id)"><i class="glyphicon glyphicon-remove-circle"></i></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <img src={{category.imgUrl}}/>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6" *ngFor="let subcategory of category.subcategories">
                  <div class="row">
                    <div class="col-md-8">
                      <label>{{subcategory.name}}</label>
                    </div>
                    <div class="col-md-4">
                      <a href="javascript:void(0)" class="delete-button" (click)="deleteSubcategory(subcategory.id)"><i class="glyphicon glyphicon-remove-circle"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5" id="subcategories">
    <div class="row">
      <div class="col-md-12">
        <div class="subcategory-container">
          <label>Підкатегорії </label>
          <a href="javascript:void(0)" (click)="isSubcategoryEditMode = true"><i class="glyphicon glyphicon-plus-sign add-button"></i></a>
        </div>
      </div>
    </div>
    <div id="addSubcategoryForm" class="row" *ngIf="isSubcategoryEditMode">
      <div class="col-md-12">
        <div class="editSubcategoryContainer">
          <div class="row">
            <div class="col-md-12">
              <label class="category-container-header">Додати підкатегорію</label>
            </div>
          </div>
          <div class="row">
            <form name="editSubcategoryForm">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="subcategoryName">Назва підкатегорії</label>
                      <input type="text" class="form-control" id="subcategoryName" name="subcategoryName" placeholder="підкатегорія" [(ngModel)]="subcategoryModel.name">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="categoryDropDown">Категорія</label>
                      <select class="form-control" id="categoryDropDown" name="categoryDropDown" [(ngModel)]="subcategoryModel.categoryId">
                        <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="row submit-section">
            <div class="col-md-3">
              <button class="btn btn-primary btn-block" (click)="createSubCategoty()">Зберегти</button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default btn-block" (click)="isSubcategoryEditMode = false">Скасувати</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>